
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div style="font-size:xx-large;font-family:'Open Sans';text-align:center">
    Welcome to Personel management system
</div>
<hr style="border-color:black" />
<div class="alert alert-info" style="text-align:center">
    The number of data held in the Person list : <strong>@ViewBag.PersonCount</strong>
</div>
<br />
<div class="alert alert-info"  style="text-align:center">
    The number of data held in the Role list :<strong>@ViewBag.RoleCount</strong>
</div>
<br />
<div class="alert alert-info"  style="text-align:center">
    The number of data held in the Department list:  <strong>@ViewBag.DepartmentCount</strong>
</div>

